<launch>

    <node pkg="tf" type="static_transform_publisher" name="odom"
        args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 100"/>
    
  <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen" >
    <remap from="scan" to="scan" />
    <remap from="base_link" to="base_link" />
    <remap from="odom" to="odom" />
    <param name="odom_frame" value="odom_gmapping"/>
    <param name="maxRange" value="10.0"/>
    <param name="maxURange" value="10.0"/>
    <param name="map_update_interval" value="1.0"/>
  </node>

</launch>